# https://github.com/danielgindi/Chartshttps://github.com/thii/FontAwesome.swift
github "danielgindi/Charts" == 3.4.0

github "Hendrik44/KVNProgress" "master"

# 
github "thii/FontAwesome.swift" == 1.8.3